<h1>Welcome to Authorization Demo using Passport and MySQL</h1>
<p>The secret page given below can only be accesed if the user is logged in</p>
<h4><a href="/login">Login</a></h4>
<h4><a href="/register">Register</a></h4>
<h4><a href="/logout">Logout</a></h4>
<h4><a href="/secret">View Secret page</a></h4>
